html, body, #root, .App {
  height: 100%;
}

.App {
  display: grid;
  grid-gap: 0;
  grid-template-areas:
     "header header header"
     "sidebar map map";
  grid-template-rows: 60px 1fr;
  grid-template-columns: minmax(450px, 1fr) 2fr;
  align-items: stretch;

}

.flexlist {
  display: flex;
  flex-direction: column;
}

.App-header {
  text-align: center;
  grid-area: header;
  background-color: black;
  color:#ff6600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-map {
  grid-area: map;
  background-color: green;
  height: 100%;
}

.App-link {
  color: #61dafb;
}

.ReactModal__Overlay {
    z-index: 1000;
}

.Modal-Content {
    position: absolute;
    top: 5%;
    left: 25%;
    right: 25%;
    min-width: 500px;
    bottom: 5%;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
  }

/*
Move sidebar to bottom of phone when screen is less than 500px wide
*/

@media (max-width: 600px) {
  .App {
    grid-template-areas:
       "header header header"
       "map map map"
       "sidebar sidebar sidebar";
    grid-template-rows: 40px 1fr 200px;
    grid-template-columns: 1fr;
  }

  .App-header {
    font-size: 12px;
    line-height: 12px;
  }

  .flexlist {
    display: flex;
    flex-direction: row;
  }

  .App-sidebar h1 {
    display: none;
  }

  .App-sidebar {
    grid-area: sidebar;
    background-color: blue;
    overflow-x: scroll;

  }


  .flexlist .item {
    height: 13  0px;
    width: 160px;
    flex: 1 0 auto;
    margin: 15px 10px;
    
  }
}



