html, body, #root, .App {
  height: 100%;
}

.App {
  display: grid;
  position:relative;
  grid-gap: 0;
  grid-template-areas:
     "header header header"
     "sidebar map map";
  grid-template-rows: 60px 1fr;
  grid-template-columns: minmax(250px, 500px) 2fr;
  align-items: stretch;

}

.App-header {
  text-align: center;
  grid-area: header;
  background-color: black;
  color:#ff6600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-map {
  grid-area: map;
  background-color: green;
  height: 100%;
}

.App-link {
  color: #61dafb;
}

/*
Move sidebar to bottom of phone when screen is less than 500px wide
*/

@media (max-width: 600px) {
  .App {
    grid-template-areas:
       "header header header"
       "map map map"
       "sidebar sidebar sidebar";
    grid-template-rows: 40px 1fr 200px;
    grid-template-columns: 1fr;
  }

  .App-header {
    font-size: 12px;
    line-height: 12px;
  }

  

  .App-sidebar h1 {
    display: none;
  }

  .App-sidebar {
    grid-area: sidebar;
    background-color: blue;
    overflow-x: scroll;

  }

  .Sidebar h1 {
    display: none;
  }
}



