.flexlist.item {
  flex-direction: row;
  min-width: 300px;
  max-width: 500px;
}

.flexlist.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 7px;
  padding-right: 7px;
}
div.show-footprint-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



div.modal-trigger-wrapper {
  display:flex;
  flex-grow: 1;
  flex-basis:100px;
  align-items: center;
  justify-content: space-between;
}

div.modal-trigger-wrapper > p {
  padding-left: 13px;
  padding-right: 7px;
  min-width:50px;
  max-width:150px;
}

.item {
  background-color: white;
  padding:5px;

  height:120px;
  max-width:100%;
  transition: background-color 0.2s linear;
}

.item:nth-child(even) {
  background-color: #eaeaea;
}

.item:hover {
  background-color: #ff6600;
}

.item p {
  /* overflow-y: hidden; */
}

.item p, .item div {
  line-height: 1.2;
}


.thumbnail-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    min-width: 160px;
    height: 120px;
    white-space: nowrap;
    text-align: center;
    position: relative;
  
  }

.feature-thumbnail {
    vertical-align: middle;
    max-height: 120px;
    max-width: 160px;
}

img {
  font-size:0;
}


@media (max-width: 500px) {


  .flexlist.item {
    height: 140px;
    width: 180px;
    flex: 1 0 auto;
    margin: 15px 10px; 
    flex-direction: column;
  }

}