.flexlist.item {
  flex-direction: row;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 7px;
  padding-right: 7px;
}


.flexlist.pinned-item {
  flex-direction: row;
  background-color: #ffe3c6;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 7px;
  padding-right: 7px;
}


div.show-footprint-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.pin-item-wrapper label, div.unpin-item-wrapper label  {
  padding: 5px;
  cursor:pointer;
}


div.modal-trigger-wrapper {
  display:flex;
  flex-grow: 1;
  flex-basis:100px;
  align-items: center;
  justify-content: space-between;
}


button.pinned-item > div.modal-trigger-wrapper > p {
  font-size: 0.8rem;
}

div.modal-trigger-wrapper > p {
  padding-left: 13px;
  padding-right: 7px;
  min-width:50px;
  max-width:150px;
}

button.item, 
button.item:active,
button.item:focus-visible {
  border: none;
}



input.pin-checkbox, input.unpin-checkbox {
    display:none;
 }

.item {
  background-color: white;
  padding:5px;

  height:125px;
  max-width:100%;
  transition: background-color 0.2s linear;
}

.item:nth-child(even) {
  background-color: #eaeaea;
}

.item:hover {
  background-color: #ff6600;
}

.item p {
  /* overflow-y: hidden; */
}

.item p, .item div {
  line-height: 1.2;
}

.pinned-item .thumbnail-background {
  height: 45px;
}

.pinned-item .thumbnail-background .feature-thumbnail {
  vertical-align: middle;
  max-height: 45px;
  max-width: 150px;
}

.thumbnail-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    min-width: 150px;
    height: 115px;
    white-space: nowrap;
    text-align: center;
    position: relative;
  
  }

.feature-thumbnail {
    vertical-align: middle;
    max-height: 110px;
    max-width: 150px;
}

img {
  font-size:0;
}


.item p.item-title-long {
  display: block;
}

.item p.item-title-short {
  display: none;
}


@media (max-width: 600px) {


  .item p.item-title-long {
    display: none;
  }
  
  .item p.item-title-short {
    display: block;
  }
  .pin-item-wrapper {
    display:none;
  }

  .item p {
    font-size: 12px;
  }
  .flexlist.item {
    height: 150px;
    min-width: 100px;
    flex: 1 0 auto;
    margin: 5px 10px; 
    flex-direction: column;
  }
  .flexlist.item p {
    margin: 5px;
  }
  div.modal-trigger-wrapper {
    flex-direction: column;
  }


  .thumbnail-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    min-width: 40px; 
    height: 80px; 
    white-space: nowrap;
    text-align: center;
    position: relative;
  
  }

.feature-thumbnail {
    vertical-align: middle;
    max-height: 80px;
    max-width: 100px;
}


}